<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav class="level">
        <p class="level-item has-text-centered title-nav">
            impromptu
        </p>
        <p class="level-item has-text-centered">
            <a href="/profile" class="link is-info">Profile</a>
        </p>
        <p class="level-item has-text-centered">
          <a href="/auth/logout" class="link is-info">Log Out</a>
        </p>
    </nav>
    <section class="section is-medium profile-page">
        <h1 class="title profile-page">Welcome <%= user.givenName %>! We are very happy to see you</h1>
        <h2 class="subtitle profile-page">
            impromptu is a place to share your thoughts and feelings about learning a new skill.
        </h2>
        <h2 class="subtitle profile-page">
            It was created to help people reflect on their learning journey and stay motivated to keep learning.
        </h2>
        <div class="tile is-ancestor">
            <div class="tile is-vertical">
                <div class="buttons">
                    <a href="/entries/new" class="button is-link is-medium is-rounded is-outlined">Create New Entry</a>
                    <a href="/entries" class="button is-link is-medium is-rounded is-outlined">Read All Entries</a>
                </div>
                <h2 class="subtitle all-entries">
                    Your Current Entries:
                </h2>
                <div class="tile">
                    <% for(let entries of entry ) { %>
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-warning">
                            <p class="subtitle"><%= entries.createdAt.toLocaleDateString()%></p>
                            <p class="title"><%= entries.title %></p>
                            <p class="subtitle">By: <%= entries.author %></p>
                            <figure class="image">
                                <img src="<%= entries.image.url %>">
                            </figure>
                            <p class="subtitle read"><a href="/entries/<%= entries._id %>">Click to Read</a></p>
                        </article>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
</body>
</html>