<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Entry</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav class="level">
        <p class="level-item has-text-centered title-nav">
            impromptu
        </p>
        <p class="level-item has-text-centered">
          <a href="/auth/logout" class="link is-info">Log Out</a>
        </p>
    </nav>
    
    <div class="container is-fluid">
        <div class="edit-buttons">
            <a class="button is-link" href="/entries">Back</a>
            <a class="button is-warning" href="/entries/<%= entry._id %>/edit">Edit</a>
            <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
                <button class="button is-danger">Delete</button>
            </form>
        </div>
        <div class="notification">
            <div class="postLayout">
                
                <div class="entryContent">
                    <h2><%= entry.createdAt.toLocaleDateString()%></h2>
                    <h2>How are you feeling?: <%= entry.mood %></h2>
                    <h2>What's the Title of this Entry: <%= entry.title %></h2>
                    <br>
                    <br>
                    <p><%= entry.entry %></p>
                </div>
                <img src="<%= entry.image.url %>">
            </div>
        </div>
    </div>
</body>
</html>