<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav class="level">
        <p class="level-item has-text-centered title-nav">
            impromptu
        </p>
        <p class="level-item has-text-centered">
            <a href="/profile" class="link is-warning">Profile</a>
        </p>
        <p class="level-item has-text-centered">
          <a href="/auth/logout" class="link is-primary">Log Out</a>
        </p>
    </nav>
    <section class="section">
        <h1 class="title all-entries">All Entries</h1>
      </section>
    <div class="tile is-ancestor">
        <div class="tile is-vertical">
            <div class="tile">
                <% for(let entry of entries ) { %>
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-warning">
                        <p class="subtitle"><%= entry.createdAt.toLocaleDateString()%></p>
                        <p class="title"><%= entry.title %></p>
                        <p class="subtitle">By: <%= entry.author %></p>
                        <figure class="image">
                            <img src="<%= entry.image.url %>">
                        </figure>
                        <p class="subtitle read"><a href="/entries/<%= entry._id %>">Click to Read</a></p>
                    </article>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="buttons all-entries">
        <a href="/entries/new" class="button is-link is-medium is-rounded is-outlined">Create New Entry</a>
    </div>
</body>
</html>